*,
*:before,
*:after {
  box-sizing: border-box;
}
.inspiration {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px;
}
.inspiration img {
  width: 35px;
}
label.switch-theme {
  position: absolute;
  top: 2px;
  right: 35px;
  display: block;
  width: 96px;
  height: 48px;
  border-radius: 25px;
  background-color: #0b2e59;
  cursor: pointer;
  overflow: hidden;
  transform: scale(0.6);
}
.switch {
  display: none;
}
.left,
.right {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 11px;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.right {
  justify-content: flex-end;
}
.switch ~ .button {
  position: absolute;
  width: 46px;
  height: 46px;
  margin-top: 1px;
  margin-left: 1px;
  border-radius: 23px;
  box-shadow: inset -4px -2px 10px 0px #b6b6b6;
  background-color: #fff;
  transition: transform 0.3s ease;
  pointer-events: none;
  overflow: hidden;
}
.switch:checked ~ .button {
  transform: translateX(48px);
}
.animation {
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.2;
}
svg {
  filter: url('#innershadow');
}
.circles {
  fill: #eee;
}
.dots {
  position: absolute;
  display: flex;
  align-items: center;
  top: 33px;
  left: 13px;
  width: 60px;
  height: 30px;
  filter: url('#gooey');
}
.dots:after,
.dots:before {
  content: '';
  position: absolute;
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #afbfd2;
}
.dots:before {
  -webkit-animation: move 3s alternate ease-in-out infinite;
  animation: move 3s alternate ease-in-out infinite;
}
.dots:after {
  -webkit-animation: move 3s 0.25s alternate ease-in-out infinite;
  animation: move 3s 0.25s alternate ease-in-out infinite;
}
.light {
  background-color: white;
}
.light svg {
  filter: url('#lightshadow');
}
.dark {
  background-color: #0b2e59;
  color: white;
}
#header .dark-header {
  background: #333;
  color: white;
}
.dark-header {
  background: #333;
  color: white;
}
#restartBtn {
  color: white !important;
}
.dark svg {
  filter: url('#darkshadow');
}
@-webkit-keyframes move {
  0%,
  5% {
    left: 0px;
    transform: scale(1);
  }
  25%,
  75% {
    transform: scaleY(0.55);
  }
  45%,
  50%,
  55% {
    left: 96px;
    transform: scale(1);
  }
  95%,
  100% {
    left: 192px;
    transform: scale(1);
  }
}
@keyframes move {
  0%,
  5% {
    left: 0px;
    transform: scale(1);
  }
  25%,
  75% {
    transform: scaleY(0.55);
  }
  45%,
  50%,
  55% {
    left: 96px;
    transform: scale(1);
  }
  95%,
  100% {
    left: 192px;
    transform: scale(1);
  }
}
